#
# Copyright (c) 2025 ZitaoTech
# SPDX-License-Identifier: MIT
#

if BOARD_BB48_LEFT

config ZMK_KEYBOARD_NAME
    default "BB48"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_BB48_LEFT


if BOARD_BB48_LEFT || BOARD_BB48_RIGHT

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

config BOARD
    default "BB48"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_PERIPHERAL_HID_INDICATORS
    default y

config BT_CTLR
    default BT
endif # BOARD_BB48_LEFT || BOARD_BB48_RIGHT
